* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100vw;
  padding: 10px 0px;
  background-color: black;
  color: white;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 420px) {
  nav .nav-links {
    display: none;
  }
}

nav .nav-links li {
  padding: 0px 10px;
  list-style: none;
  text-transform: uppercase;
}

nav .title-container {
  width: 100px;
}

nav .title-container .logo {
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  letter-spacing: 2px;
}

main {
  display: -ms-grid;
  display: grid;
}

main .landing-img {
  width: 100vw;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  background-color: #eee;
  background-image: url("https://images.unsplash.com/photo-1457364847821-58861bbda116?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

main .landing-img .landing-caption {
  width: 100%;
  height: 100px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-color: black;
  opacity: .5;
}

main .landing-img .landing-caption h1 {
  color: white;
}

main .main-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

main .main-content h2 {
  font-size: 1.1em;
  margin-top: 35px;
}

main .main-content .posts-container {
  margin-top: 23px;
  margin: 0 auto;
  max-width: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media only screen and (max-width: 420px) {
  main .main-content .posts-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main .main-content .post {
  padding: 25px;
  margin: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

main .main-content h3 {
  font-size: 1em;
}

main .main-content img {
  height: 128px;
  width: 100%;
}

main .main-content a {
  color: skyblue;
  text-transform: lowercase;
  float: left;
}

footer {
  background-color: black;
  color: white;
  padding: 15px 100px;
}

footer .footer-left {
  color: white;
}

footer .footer-left .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

@media only screen and (max-width: 420px) {
  footer .footer-left .social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-left .social-links li {
  color: white;
  list-style: none;
  text-transform: uppercase;
  font-size: .8em;
  padding-right: 10px;
}

footer .copyright {
  color: lightgrey;
  font-size: .7em;
}

.hero-dragon {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1460186136353-977e9d6085a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-dragon .landing-caption {
  letter-spacing: 2px;
  font-size: 1.4em;
}

.hero-dragon .landing-caption h1 {
  font-weight: 100;
}
/*# sourceMappingURL=styles.css.map */